@import "./abstract/listas";
@import "./abstract/maps";
@import "./abstract/variables";
@import "./componentes/header";
@import "./componentes/footer";



* {
    padding: 0px;
    margin: 0px;
}

div {
    
    margin-top: 10px;

    h1 {
        border-left: solid 5px nth($colores ,6);
        margin-bottom: 30px;
        margin-left: 10px;

    }
}


body {
    background-color: nth($colores , 7);
}


.icon{
    
    height: 100px;
    top: 0px;
    left: 0px;

}

.mar-top {
    margin-top: 35px;
}

.centrar {
    text-align: center;
}

iframe {
    border-radius: 30px;
    margin-top: 70px;
    @extend .bordear
}
.centrarvi {
    display: flex;
    justify-content: center;
    align-items: center;

}

.primero {
    @extend .reutilizable;
    margin-top: 50px;
    margin-bottom: 20px;
}

.segundo {
    @extend .reutilizable;
    margin-bottom: 200px;
}

.tercero {
    @extend .reutilizable;
    text-align: center;
    text-decoration: underline nth($colores ,6);

}

div {
    form {
        margin-top: 40px;
        margin-right: 90px;

    }
}

main {
    div {
        img {
            width: 200px;
        }
    }
}

.btncolor{
    background-color: nth($colores ,6);
    border-radius: 30px;
    
}


.bordear {
    border: solid 5px #e91e63;
}

.activo {
    background-color: nth($colores ,7);
    color: white;
}

.bordearca{
    border: solid 5px #e91e63;
    border-radius: 30px;
}
.carro {
    
    width: 500px;
    height: 500px;
    object-fit: cover
    
    
}

.reutilizable {
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}

@media screen and (max-width: 593px) {
    header nav ul li a {
        font-size: 14px;
        padding: 0px;
        margin: 0px;
    }
    iframe{
        width: 350px;
        
        
    }
  }

.bordearAbajo {
    border-bottom: 5px solid nth($colores , 6 )
    
}

dl, ol, ul {
    margin-top: 0px;
    margin-bottom: 0rem;
}

form{
    font-size: 20px;
    padding-left: 35px;
    #mi-boton{
        background-color: nth($colores ,6);
        font-size: 18px;
        padding: 5px 10px;
        border-radius: 10px;
    }
}



