@import "./abstract/listas";
@import "./abstract/maps";
@import "./abstract/variables";
@import "./componentes/header";



* {
    padding: 0px;
    margin: 0px;
}

div {
    
    margin-top: 10px;

    h1 {
        border-left: solid 5px nth($colores ,6);
        margin-bottom: 30px;
        margin-left: 10px;

    }
}


body {
    background-color: nth($colores , 7);
}


.icon{
    height: 80px;
    top: 0px;
    left: 0px; 
}


.mar-top {
    margin-top: 35px;
}

.centrar {
    text-align: center;
}

iframe {
    border-radius: 30px;
    margin-top: 70px;
    @extend .bordear
}
.centrarvi {
    display: flex;
    justify-content: center;
    align-items: center;

}

.primero {
    @extend .reutilizable;
    margin-top: 50px;
    margin-bottom: 20px;
}

.segundo {
    @extend .reutilizable;
    margin-bottom: 200px;
}

.tercero {
    @extend .reutilizable;
    text-align: center;
    text-decoration: underline brown;

}

div {
    form {
        margin-top: 40px;
        margin-right: 90px;

    }
}

main {
    div {
        img {
            width: 200px;
        }
    }
}

.btncolor{
    background-color: nth($colores ,6);
    border-radius: 30px;
    
}


.bordear {
    border: solid 5px #e91e63;
}

.activo {
    background-color: nth($colores ,7);
    color: white;
}

.carro {
    
    width: 500px;
    height: 500px;
    object-fit: cover
    
    
}

.reutilizable {
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}

@media screen and (max-width: 593px) {
    header nav ul li a {
        font-size: 14px;
        padding: 0px;
        margin: 0px;
    }
    iframe{
        width: 350px;
        
        
    }
  }

.bordearAbajo {
    border-bottom: 5px solid nth($colores , 6 )
    
}

dl, ol, ul {
    margin-top: 0px;
    margin-bottom: 0rem;
}

form{
    font-size: 20px;
    padding-left: 35px;
    #mi-boton{
        background-color: nth($colores ,6);
        font-size: 18px;
        padding: 5px 10px;
        border-radius: 10px;
    }
}



.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}