@import "./abstract/listas";
@import "./abstract/maps";
@import "./abstract/variables";
@import "./componentes/header";



* {
    padding: 0px;
    margin: 0px;
}

div {
    
    margin-top: 10px;

    h1 {
        border-left: solid 5px brown;
        margin-bottom: 30px;
        margin-left: 10px;

    }
}


body {
    background-color: nth($colores , 3);
}


.icon {
    height: 80px;
    top: 0px;
    left: 0px;
}


.mar-top {
    margin-top: 35px;
}

.centrar {
    text-align: center;
}

iframe {

    margin-top: 70px;
    @extend .bordear
}
.centrarvi {
    display: flex;
    justify-content: center;
    align-items: center;

}

.primero {
    @extend .reutilizable;
    margin-top: 50px;
    margin-bottom: 20px;
}

.segundo {
    @extend .reutilizable;
    margin-bottom: 200px;
}

.tercero {
    @extend .reutilizable;
    text-align: center;
    text-decoration: underline brown;

}

div {
    form {
        margin-top: 40px;
        margin-right: 90px;

    }
}

main {
    div {
        img {
            width: 200px;
        }
    }
}

.btncolor{
    background-color: nth($colores ,4);
    
}


.bordear {
    border: solid 5px brown;
}

.activo {
    background-color: rgb(255, 102, 0);
    color: white;
}

.carro {
    padding-top: 40px;
    width: 500px;
    height: 500px;
    object-fit: cover
}

.reutilizable {
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}

@media screen and (max-width: 593px) {
    header nav ul li a {
        font-size: 14px;
        padding: 0px;
        margin: 0px;
    }
    iframe{
        width: 350px;
        
    }
  }

.bordearAbajo {
    border-bottom: 5px solid black;
    
}

dl, ol, ul {
    margin-top: 0px;
    margin-bottom: 0rem;
}

