@import "./abstract/listas";
@import "./abstract/maps";
@import "./abstract/variables";
@import "./componentes/header";



* {
    padding: 0px;
    margin: 0px;
}

div {
    margin-left: 20px;
    margin-top: 10px;

    h1 {
        border-left: solid 5px brown;
        margin-bottom: 30px;

    }
}


body {
    background-color: rgb(243, 218, 186);
}


.icon {
    height: 80px;
    top: 0px;
    left: 0px;
}


.mar-top {
    margin-top: 20px;
}

.centrar {
    text-align: center;
}

.vi {
    margin-left: 500px;
    margin-top: 50px;
    @extend .bordear
}


.primero {
    @extend .reutilizable;
    margin-top: 50px;
    margin-bottom: 20px;
}

.segundo {
    @extend .reutilizable;
    margin-bottom: 200px;
}

.tercero {
    @extend .reutilizable;
    text-align: center;
    text-decoration: underline brown;

}

div {
    form {
        margin-top: 40px;
        margin-right: 90px;

    }
}

main {
    div {
        img {
            width: 200px;
        }
    }
}



.bordear {
    border: solid 5px brown;
}

.activo {
    background-color: rgb(255, 102, 0);
    color: white;
}

.carro {
    width: 500px;
    height: 500px;
    object-fit: cover
}

.reutilizable {
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}