@import "../abstract/listas";
header {
    nav {
        ul {
            display: flex;
            flex-direction: row-reverse;
            list-style-type: none;
            justify-content: space-between;
            padding: 10px;
            background-color: nth($colores , 9 );

            li {
                a {
                    font-family: 'Comic Neue', cursive;
                    font-family: 'Prompt', sans-serif;
                    font-weight: bold;
                    color: black;
                    background-color: nth($colores , 6 );
                    padding: 10px;
                    margin: 5px;
                    text-decoration: none;
                    font-size: 15px;
                    border: 2px solid black;
                    border-radius: 30px;

                    &:hover {
                        background-color: nth($colores ,7);
                        color: white;

                    }
                }
            }
        }
    }
}